@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    left: -10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 51.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 42%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #ffff !important  
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important
.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $color-sistema-texto !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;


/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario







/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

.banner-interno__titulo h1, .banner-interno__titulo h2, .banner-interno__titulo h3, .banner-interno__titulo h4, .banner-interno__titulo h5, .banner-interno__titulo h6 
  color: #ffff !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #12263F !important
   
.img
  width: 55% !important
  @media screen and (max-width: $bp-min-sm)
    width: 35% !important
  @media (min-width: 768px) and (max-width: 1024px)
    width: 35% !important
.bg1
  background-color: #E5ECF8
.bg2
  background-color: #77D9FE
  border-radius: 40px
.bg3
  background-color: #FFC33F
.bg4
  background-color: #F6F6F6
.bg5
  background-color: #C8F0FF
.bg6
  background-color: #F1FBFF
.bg7 
  background-color: #FFE7B2
.bg8 
  background-color: #0944B7
.bg9 
  background-color: #FFF9EB
.bg10 
  background-color: #77D9FE
.titulo-segundo:after 
  border-left-color: #FFC33F
.tabla-a.color-acento-contenido table 
  border-top: none !important
.tabla-a.color-acento-contenido table thead 
  border-top: 5px solid #0944B7 !important
.lista-ol--cuadro__vineta span 
  color: #12263F
.tarjeta--boton 
  border-radius: 20px
  background-color: #77D9FE
.tarjeta-audio.color-acento-botones .tarjeta-audio__texto 
  color: #12263F
  font-style: normal !important
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
.fondo01
  background-image: url('../assets/curso/temas/t1/fondo.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.fondo02
  background-image: url('../assets/curso/temas/t1/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo03
  background-image: url('../assets/curso/temas/t1/fondo2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
    padding: 1rem !important
.fondo04
  background-image: url('../assets/curso/temas/t1/img21.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
    padding: 1rem !important
.fa-chevron-right 
  --fa: "\f054"
  color: #FB9776
.fa-chevron-left 
  --fa: "\f053"
  color: #FB9776
.fa-angle-right2
  content: url('../assets/curso/temas/t1/gota.svg')
  width: 14px
  align-self: flex-start !important

.izq
  text-align: left !important
.acordion__accion__btn--b
  background-color: #FB9776 !important
.acordion .tarjeta--azul
  background-color: #9CB4E2 !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #FFF4F1 !important
.acordion .tarjeta--azul2
  background-color: #9CB4E2 !important
.acordion .tarjeta.tarjeta--azul2.acordion__activo
  background-color: #FFF4F1 !important
.tarjeta.bg1 
  transition: background-color 0.3s ease

.tarjeta.bg1:hover 
  background-color: #C8F0FF
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #FB9776
.slyder-a__bullets__item--active 
  background-color: #FB9776
  border-color: #FB9776

.titulo-linea-base 
  position: relative
  padding-bottom: 12px

.titulo-linea-base::after 
  content: ""
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 7px
  background: #61d4f2
  border-radius: 6px

.titulo-linea-base .w-card-icon 
  width: 42px
  height: 42px
  margin-right: 15px
  z-index: 1

.titulo-linea-base .w-card-text 
  position: relative
  padding-left: 20px
  padding-right: 20px
  left: -30px
  top: 8px

.linea-tiempo-c__header__btn, .pasos-b__header__btn--left, .pasos-b__header__btn--right, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right 
  background-color: #FB9776

.row .d-flex.bg5
  border-radius: 15px
  min-height: 60px
.row .d-flex.bg5 img 
  width: 45px
  height: 45px
  object-fit: cover
  flex-shrink: 0
.row .d-flex.bg5 h5 
  font-size: 16px
  line-height: 1.2
  color: #000

colores custom Acordeon 
.acordion__accion__btn--a 
  background-color: #FB9776 !important
.acordion .tarjeta--azul
  background-color: #68C882 !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #F1FBFF !important


.tarjeta.color-primario 
  background-color: #F1FBFF !important
.tarjeta.color-primario * 
  color: #12263F
.tarjeta-slide__img 
  background-size: 100% 100% !important
  background-position: center !important
  background-repeat: no-repeat !important
.tarjeta.color-acento-botones--borde
  background-color: #FFF4F1
  border: #E1CDCE
.tabs-a__tab 
  background-color: #9CB4E2
  display: block
  width: 100%
  text-align: left
  padding: 15px 20px
  border-radius: 5px
  line-height: 1.2em
  &__text
    overflow: auto
    text-overflow: initial
    text-wrap: auto

